---
description: Verify your identity and account
icon: verified
order: 181
---

# Account Verification

!!!warning Identity Verification Issues
We have been having issues connecting to our identity verification provider, [Blink ID](https://microblink.com/blinkid/id-scanning-software/). While this issue persists, attempting to verify your identity in the app will cause the app to crash. We are aware of this issue and are working to fix it!

In the meantime, **you are covered** as soon as you purchase your StableCare membership. If you want to have the "Membership Incomplete" notification removed from the Home Page of the app, please email us at support@stablemobility.io.

Thank you for understanding--and apologies for the inconvenience!
!!!

**Account Verification** refers to the process of verifying your identity within the app. Account verification is ***optional*** for app users who do not have a StableCare membership.

StableCare members are required to complete account verification **only if they need to report a theft and activate their theft protection benefit**. In other words, you can purchase a StableCare membership, never experience a theft, and as a result never need to verify your identity. We respect your privacy, and only require account verification when it is absolutely necessary.

!!!warning Under Construction
This article is a work-in-progress! If you want more information, we invite you to chat with us on [Discord](https://discord.gg/sVQ8yfA8yB) or via email at hello@stablemobility.io
!!!
