---
description: Verify your identity and account
icon: verified
order: 181
---

# Account Verification

**Account Verification** refers to the process of verifying your identity within the app. Account verification is ***optional*** for app users who do not have a StableCare membership.

StableCare members are required to complete account verification **only if they need to report a theft and activate their theft protection benefit**. In other words, you can purchase a StableCare membership, never experience a theft, and as a result never need to verify your identity. We respect your privacy, and only require account verification when it is absolutely necessary.

!!!warning Under Construction
This article is a work-in-progress! If you want more information, we invite you to chat with us on [Discord](https://discord.gg/sVQ8yfA8yB) or via email at hello@stablemobility.io
!!!
